<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo Sample</title>

    <link href="./style/todo-item.css" rel="stylesheet"/>

    <!-- App Templates -->

    <script id="todoItem" type="text/x-handlebars-template">
        <div class="todo-item">
            <button ng-click="$ctrl.setCompleted(!$ctrl.isCompleted)" ng-class="{completed: $ctrl.isCompleted}" class="toggle-completed">
                <span ng-if="$ctrl.isCompleted">
                    ✔
                </span>
            </button>

            <p>{{$ctrl.label}}</p>

            <button class="remove" ng-click="$ctrl.onRemove()">╳</button>
        </div>
    </script>

    <script id="todoList" type="text/x-handlebars-template">
        <div class="todo-list">
            <ul>
                <li ng-repeat="item in $ctrl.todoItemsList">
                    <todo-item label="item" on-remove="$ctrl.removeItem(item)"></todo-item>
                </li>
            </ul>
        </div>
    </script>

    <script id="todoApp" type="text/x-handlebars-template">
        <div class="todo-app">
            <div class="input">
                <input type="text" ng-model="$ctrl.newItemLabel" placeholder="New item label..."/>
                <button ng-click="$ctrl.addItem()">Add Item</button>
            </div>
            <div class="list">
                <todo-list todo-items-list="$ctrl.list"></todo-list>
            </div>
        </div>
    </script>

    <!-- End app templates -->

</head>
<body ng-app="app">

    <script src="./lib/angular.min.js"></script>
    <script src="./src/TestSuite.js"></script>
    <script src="./src/TodoApp.js"></script>
    <script src="./src/TodoItem.js"></script>
    <script src="./src/TodoList.js"></script>

    <todo-app></todo-app>

</body>
</html>